name: CI
on: [pull_request, push]
jobs:

  #################### Unittests ####################
  unittest:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    strategy:
      matrix:
        python-version: [3.8,3.9,"3.10","3.12"]
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        id: python
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install --upgrade pip setuptools wheel tox
      - name: Run unittest
        run: tox -v -e ${{ matrix.python-version }}-unit -- -v
